h1 {
    font-family: 'Times New Roman', Times, serif;
    color: palevioletred;
}
.container{
    border: 5px solid black;
    border-color: palevioletred;
}

h1, h2{
    margin-right: auto;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    }